---
http_interactions:
- request:
    method: get
    uri: https://contextualwebsearch-websearch-v1.p.rapidapi.com/api/Search/ImageSearchAPI?autoCorrect=true&pageNumber=1&pageSize=15&q=american%20traditional
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - e63381300emsh2aad7a75e0cbb5cp18e5c4jsn1946e269d0a3
      X-Rapidapi-Host:
      - contextualwebsearch-websearch-v1.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Requests-Limit:
      - '100'
      X-Ratelimit-Requests-Remaining:
      - '91'
      X-Ratelimit-Requests-Reset:
      - '71046'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"_type":"images","totalCount":1020,"value":[{"url":"https://pipeburn.com/wp-content/uploads/2020/05/American-Traditional.jpg","height":1171,"width":2500,"thumbnail":"https://rapidapi.usearch.com/api/thumbnail/get?value=1701595348427531365","thumbnailHeight":73,"thumbnailWidth":155,"base64Encoding":null,"name":"","title":"American
        Traditional - Pipeburn","provider":{"name":"pipeburn","favIcon":"","favIconBase64Encoding":""},"imageWebSearchUrl":"https://usearch.com/search/american%20traditional/images","webpageUrl":"https://pipeburn.com/bikeshow/american-traditional/"},{"url":"https://www.trendingtattoo.com/wp-content/uploads/2021/12/Best-American-Traditional-Tattoo-Designs-1.jpg","height":400,"width":750,"thumbnail":"https://rapidapi.usearch.com/api/thumbnail/get?value=7509152395355637928","thumbnailHeight":149,"thumbnailWidth":281,"base64Encoding":null,"name":"Best
        American Traditional Tattoo Designs","title":"Top 70 American Traditional
        Tattoo Ideas And Their Meaning","provider":{"name":[...]
