---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v3/places/search?categories=11075&near=colorado%20springs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Authorization
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.foursquare.com/v3/places/search?near=colorado%20springs&cursor=c3I6MTA&categories=11075>;
        rel="next"
      X-Fsq-Request-Id:
      - 64bac26543dd745ad61310e5
      X-Ratelimit-Path:
      - "/v3/places/search"
      X-Ratelimit-Limit:
      - '360000'
      X-Ratelimit-Reset:
      - '1689964105'
      X-Ratelimit-Remaining:
      - '359998'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"fsq_id":"4c6304dcde1b2d7f9bb7e370","categories":[{"id":11075,"name":"Tattoo
        Parlor","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/shops/tattoos_","suffix":".png"}}],"chains":[],"distance":1155,"geocodes":{"main":{"latitude":38.844137,"longitude":-104.819551},"roof":{"latitude":38.844137,"longitude":-104.819551}},"link":"/v3/places/4c6304dcde1b2d7f9bb7e370","location":{"address":"716
        N Weber St","address_extended":"Ste 200","census_block":"080410016001002","country":"US","cross_street":"Monument
        Street","dma":"Colorado Springs-Pueblo","formatted_address":"716 N Weber St
        (Monument Street), Colorado Springs, CO 80903","locality":"Colorado Springs","postcode":"80903","region":"CO"},"name":"Pens
        & Needles Custom Tattoo Company","related_places":{},"timezone":"America/Denver"},{"fsq_id":"4b550de3f964a52072d927e3","categories":[{"id":11075,"name":"Tattoo
        Parlor","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/shops/tattoos_","suffix":".png"}}],"chains":[],"distance":3236,"geocodes":{"main":{"latitude":38.843212,"longitude":-104.856829},"roof":{"latitude":38.843212,"longitude":-104.856829}},"link":"/v3/places/4b550de3f964a52072d927e3","location":{"address":"2031
        W Colorado Ave","census_block":"080410014003022","country":"US","c[...]
[...]
